 <div id="footer">
	<div class="box">
		<div class="box1 Margin">
			<div>
			<p class="uppercase orange ">contact info</p>
			<p><i class="fa fa-envelope-o"></i> info@inhabitent.com</p>
			<p><i class="fa fa-phone"></i>778-456-7891</p>
			<ul class="white">
				<li><i class="fa fa-facebook-square"></i></li>
				<li><i class="fa fa-twitter-square"></i></li>
				<li><i class="fa fa-google-plus-square"></i></li>
			</ul>

			</div>
			<div>
			<p class="uppercase orange">business hours</p>
			<p>Monday-Friday:9am to 5 pm</p>
			<p>Saturday:10am to 2pm</p>
			<p>Sunday:Closed</p>
			</div>
		</div>
		
		
		<p class="footerImage MarginImage"></p>
			
	</div>
	<div >
	<div class="copyright uppercase white miniMargin">copyright @ 2016 inhabitent</div>
	
</div>
