<div id="ABOUT">
<div class="aboutPicture">
<div><h1>ABOUT</h1></div>
	
</div>

<div class="wrap">
<h2>OUR STORY</h2>
<div><p>Inhabitent Camping Supply Co. has been Vancouver baked-good icon for more than two whole months!Customers often commet on the bustle of activity they see in store...that's where the magic happens every day</p>
<p>We want to bridge the gap between the confort of the city life and the lovely Instagram-worthiness of the great outdoors that surround us.We see gear that's fun and functional.So much fun,in fact,that you'll want to pitcha tent inside you one-bedrrom apartment so you can use it everyday</p></div>
<h2>OUR TEAM</h2>
<div><p>Inhabitent Camping Supply Co.'s staff is made up of an amazing team of inspired retail associates.We really know out stuff when it comes to travel hammocks and campfire cooking gadgets.From a provincial park campground to the back-country,our staff knows what you need to outfit your outdoor outing.</p>
<p>Our shop is nestled in a lovely little corner of Vancouver,Pop in, say hi, and try out our tends!</p></div>
	

</div>
</div>
