 <div id="SHOP">
 <h1>SHOP STUFF</h1>
 <div  class="flex">
	
		<div class="wrapper">
			<div class="border products flex ">
				<div class="do"></div>
				<p>Get back to nature with all the tools and toys you need to enjoy the great outdoors.
				</p>
				<div>	
					<input type="submit" value="DO STUFF">
				</div>
			</div>
			<div class="border products flex">
				<div class="eat"></div>
				<p>Nothing beats food cooked over a fire. We have all you need for good camping eats.</p>
				<div>	
					<input type="submit" value="EAT STUFF">
				</div>
			</div>	
			<div class="border products flex">
				<div class="sleep"></div>
				<p>Get a good night's rest in the wild in a home away from home that travels well.</p>
				<div>	
					<input type="submit" value="SLEEP STUFF">
				</div>
			</div>
			<div class="border products flex">
				<div class="wear"></div>
				<p>From flannel shirts to toques, look the part while roughing outdoors.</p>
				<div>	
					<input type="submit" value="WEAR STUFF">
				</div>
			</div>
		</div>








</div>
</div>

