<div id="FIND">

<div class="wrap">


<div class="journal">	
<h2 class="findus">FIND US</h2>

<div>	
<div class="map">
</div>



<div><h2>WE TAKE CAMPING VERY SERIOUSLY</h2></div>
<div class="comments commentsWidth">
<p>Inhabitent Camping Supply Co. knows what it takes to outfit a camping trip right.From flannel shirts to artisanal axes,we've got you covered.Please contact us below with any questions comments or suggestions.</p>
</div>


<div class="postC">
<p class="bold">SEND US A EMAIL!</p>


<div class="ButtonFlex">
	<div class="fields">
	<div>NAME<span>*</span></div>
	<div><input type="text"></div>
	<div>EMAIL<span>*</span></div>
	<div><input type="text"></div>
	<div>SUBJECT<span>*</span></div>
	<div><input type="text"></div>


	<div>MESSAGE<span>*</span> </div>
	<textarea name="comment" id="CommentF" cols="30" rows="10"></textarea>
	<div><input class="SubmitB" type="submit">
	<button (click)="Back()">Back</button></div>
</div>
</div>

</div>




</div>

</div>
<div class="aside">
<h3>Contact Hours</h3>
<div>
<p class="contact"><i class="fa fa-phone"></i>778-456-7891</p>
<p class="contact"><i class="fa fa-envelope-o"></i> info@inhabitent.com</p>
<p><i class="fa fa-map-marker"></i>1490 W Broadway<br>Vancouver,BC V6H 1H5</p>
</div>

<h3>Business</h3>
<div class="bussines">
<p>Monday-Friday:9am to 5 pm</p>
<p>Saturday:10am to 2pm</p>
<p>Sunday:Closed</p>
</div>
<h3>Archives</h3>
<div class="archive">
<p>January 2016</p>
<p>February 2016</p>
</div>	
</div>
</div >
</div>


