<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 -->
 <div id="POSTENTRY">
<div class="flex flex-row status">
<div class="formWrap ">
<form  #entryForm="ngForm" id="apiForm" (ngSubmit)="SubmitJournal()" class="flex flex-column">
	<label for ="title">Title:</label>
	<input  type="text" id="title" placeholder="Title" required minlength="8" name="title" 
	[(ngModel)]="entry.title" #title="ngModel">

	<div *ngIf="title.errors && (title.dirty || title.touched)"
     class="alert">
    <div [hidden]="!title.errors.required">
      A title is required
    </div>
    <div [hidden]="!title.errors.minlength">
      Title must be at least 8 characters long.
    </div>
    </div>


	<label for ="cate">Categories:</label>
	<input  id="cate" type="text" name="categories" placeholder="Categories" required minlength="4" name="cate" [(ngModel)]="entry.categories" #cate="ngModel">

	<div *ngIf="cate.errors && (cate.dirty || cate.touched)"
     class="alert">
    <div [hidden]="!cate.errors.required">
      A category is required
    </div>
    <div [hidden]="!cate.errors.minlength">
      Category must be at least 4 characters long.
    </div>
    </div>

	<label for ="imageF">Image:</label>

	<input id="imageF" type="text" name="image"
	placeholder="https://en.wikipedia.org/wiki/Camping#/media/File:Biskeri-_Camping_I_IMG_7238.jpg" required minlength="4" name="imageF" [(ngModel)]="entry.image" #imageF="ngModel">

	<div *ngIf="imageF.errors && (imageF.dirty || imageF.touched)"
     class="alert">
    <div [hidden]="!imageF.errors.required">
      An image link is required.
    </div>
    <div [hidden]="!imageF.errors.minlength">
      An image link is required.
    </div>
    </div>

	<label for="contentF">Content:</label>
	<textarea id="contentF" rows="20" cols="100" name="content" required minlength="10" name="imageF" [(ngModel)]="entry.content" #contentF="ngModel"></textarea>
	

	<div class="flexB flex-row ">

	<button type="submit" [disabled]="!entryForm.form.valid">SUBMIT</button>

	<button class="spceBet" (click)="Back()">DELETE</button>

	<div class="mandatory">All fields are mandatory</div>
	</div>

</form>
</div>

<div class="flex flex-column ">
	<!-- <h2>LATEST ENTRIES</h2> -->

	<div class="flex flex-column scroll">
	 	<div  class="post " *ngFor = "let journal of journalEntries"
	[class.selected]="journal === selectedJournal" (click)="onSelect(journal)" [routerLink]="['/read', journal.ID]">
	     
	    	<div class="border">
	        <p>{{journal.date}} / {{journal.categories.count}} comments</p> 
	        <h3 (click)="gotoDetail()">{{journal.title}}></h3>
	            
			</div>
		</div>
	</div>
</div>

</div>
</div>

 