<div id="ADVEN">
<div class="flex-container flex width">
<div class="category large xl canoe">
	<p>Getting Back to Nature in a Canoe</p><input type="submit" value="READ MORE">
</div>
<div class="large">
  <div class="category xs beach ">
  <p>A Night with Friends at the Beach</p><input type="submit" value="READ MORE">
  </div>
  <div class="xs flex-container">
    <div class=" category large xs mountain">
    	<p>Taking in the View at Big Mountain</p><input type="submit" value="READ MORE">
    </div>
    <div class="large xs category night">
    	<p>Star-Gazing at the Night Sky</p><input type="submit" value="READ MORE">
    </div>
</div>
</div>
</div>
<div class="width"><input class="adventures" type="submit" value="MORE ADVENTURES"></div>
</div>

